<div style="background-color: #111111; padding: 50px 0;" class="text-light">
    <div class="container">
        <div class="row login">
            <div class="col-md-6 align-self-start text-center">
                <div class="step-title">
                    <h2 class="featured">Route is not found</h2>
                    <input type="submit" value="Navigate To Home" class="form-control field-submit"
                        (click)="navigateToHome()">
                </div>
            </div>
            <div class="content-images col-12 col-md-6 pl-md-5 d-none d-md-block">
                <div class="gallery">
                    <div class="mask-radius"></div>
                    <img src={{image}} class="fit-image" alt="register Image">
                </div>
            </div>
        </div>
    </div>
</div>