.navbar-nav {
    margin:0 auto;
}

.navbar{
    background-color: #272b30;
}

.profile{
    cursor: pointer;
    text-align: center;
    margin-left: 15px;
    font-weight: 600;
}

.profile a{
    font-family: Ama!important;
    color: white;
    font-size: 35px;
    text-decoration: none;
}