.navbar-nav {
    margin:0 auto;
}

.navbar{
    background-color: #272b30;
}

.profile{
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-left: 15px;
    color: white;
}
