<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <ul class="row navbar-nav d-flex align-content-between">
            <li class="nav-item col-4">
                <a routerLink="" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item col-4">
                <a routerLink="" class="nav-link" > ToDos</a>
            </li>
            <li class="nav-item col-4">
                <a routerLink="" class="nav-link" >About</a>
            </li>
        </ul>
    </div>
</nav>