<div style="background-color: #111111; padding: 50px 0;" class="text-light">
    <div class="container">

        <!-- registation section -->
        <div class="row">
            <div class="col-md-4">
                <div class="group-div">
                    <h5> General </h5>
                    <p> 15 tasks </p>
                </div>
                
                <button class="form-control field-submit text-center"> + Create New Group </button>
            </div>

            <!-- register image -->
            <div class="content-images col-md-4 pl-md-5 ">
                <div class="gallery register">
                    <div class="mask-radius"> groups details : default general</div>
                </div>
            </div>

            <div class="content-images col-md-4 pl-md-5 ">
                <div class="gallery register">
                    <div class="mask-radius"> grouping by the month</div>
                </div>
            </div>

        </div>
    </div>
</div>