/* eeeeee
4ecca3
44c1c1c7 
1f2126

00fff5*/
.scrollar{
    overflow-y:auto;
}

.list-wrapper{
    height: 100vh;
    display: flex; 
    flex-direction: column;
}

.group-div{
    border-left: 5px solid #4ecca3;
    width: 100%;
    margin: 15px auto;
    padding: 9px;
    padding-bottom: 1px;
    transition: background-color 0.6s;
    transition-timing-function: ease-in;
    cursor: pointer;
    background-color: #272b30;
    border-radius: 5px;
}

.group-div:hover {
    background-color: #30343b;
}

.group-div h5{
    color: rgb(238, 234, 234);
}

.group-div p{
    color: #9b9da1
}

.tasks-div{
    border-left: 5px solid #fc8c84;
    padding: 15px;
    cursor:default;
}

.tasks-div h5{
    font-size: 17px;
}

.tasks-div p{
    font-size: 15px;
    color: #d3d1d1;
}

.footer{
    font-size: 14px;
    color: #9b9da1;
}

.footer a{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}