<div style="background-color: #111111; padding: 50px 0;" class="text-light">
    <div class="container">

        <!-- registation section -->
        <div class="row">
            <div class="col-md-6 align-self-start text-center">
                <div class="row form-content">
                    <div class="col-12">
                        <div class="step-title">
                            <h2 class="featured">Join ToDos</h2>
                            <p>Create your account</p>
                        </div>
                    </div>
                </div>
                <!-- registration form -->
                <div class="row text-center form-content">
                    <div class="col-12">
                        <form #registerForm [formGroup]="myForm" class="step-group">
                            <input type="text" formControlName="username" required name="username"
                                class="form-control field-name" placeholder="Username">
                            <span *ngIf="!validForm && myForm.controls.username.invalid">
                                <span *ngIf="myForm.controls.username.errors.required" class="invalid">Username is
                                    required.</span>
                                <span *ngIf="myForm.controls.username.errors.maxlength" class="invalid">
                                    Username must be less than 64 characters.
                                </span>
                                <span *ngIf="myForm.controls.username.errors.minlength" class="invalid">
                                    Username must be at least 7 characters.
                                </span>
                                <span *ngIf="myForm.controls.username.errors.pattern" class="invalid">
                                    Username must characters only.
                                </span>
                            </span>
                            <input type="text" #name formControlName="name" name="name" class="form-control field-name"
                                placeholder="First Name">
                            <span *ngIf="name.value && myForm.controls.name.invalid">
                                <span *ngIf="myForm.controls.name.errors.maxlength" class="invalid">
                                    Name must be less than 19 characters.
                                </span>
                                <span *ngIf="myForm.controls.name.errors.minlength" class="invalid">
                                    Name must be at least 3 characters.
                                </span>
                                <span *ngIf="myForm.controls.name.errors.pattern" class="invalid">
                                    Name must characters only.
                                </span>
                            </span>
                            <input type="email" formControlName='email' name="email" class="form-control field-email"
                                placeholder="Email">
                            <span *ngIf="!validForm && myForm.controls.email.invalid">
                                <span *ngIf="myForm.controls.email.errors.required" class="invalid">Email is
                                    required.</span>
                                <span *ngIf="myForm.controls.email.errors.pattern" class="invalid"> Unvalid Email.
                                </span>
                            </span>
                            <input type="password" formControlName='password' name="password"
                                class="form-control field-password" placeholder="Password">
                            <span *ngIf="!validForm && myForm.controls.password.invalid ">
                                <span *ngIf="myForm.controls.password.errors.required" class="invalid"> Password is
                                    required.</span>
                                <span *ngIf="myForm.controls.password.errors.pattern" class="invalid"> Your password
                                    must have at least 1 upper case letter, 1 special character, 1 small case
                                    letter.</span>
                            </span>
                            <input type="text" formControlName='age' name="age" class="form-control field-age"
                                placeholder="Age">
                            <span *ngIf="!validForm && myForm.controls.age.invalid ">
                                <span *ngIf="myForm.controls.age.errors.ageValidator" class="invalid"> Your age must be
                                    a number and at least 13.</span>
                            </span>
                            <input type="submit" value="Register" class="form-control field-submit"
                                (click)="registration(registerForm)">
                        </form>
                        <p class="loginNavigator">Already have an account? <a (click)="navigateToLogin()">Login</a></p>
                    </div>
                </div>
            </div>

            <!-- register image -->
            <div class="content-images col-12 col-md-6 pl-md-5 d-none d-md-block">
                <div class="gallery register">
                    <div class="mask-radius"></div>
                    <img src={{image}} class="fit-image" alt="register Image">
                </div>
            </div>
        </div>
    </div>
</div>