/* You can add global styles to this file, and also import other style files */
html{
    background-color: #111111;
}
@font-face {
    font-family: "Ama";
    src: url(./assets/fonts/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: "robo";
    src: url(./assets/fonts/Roboto-Light.ttf);
}
*{
    font-family:  Ama, monospace, sans-serif;
    box-sizing: border-box;
}
p, a, time, span {
    font-family: robo, Helvetica, sans-serif, sans-serif;
}