/* You can add global styles to this file, and also import other style files */
html{
    background-color: #111111;
}
@font-face {
    font-family: "Nanu";
    src: url(./assets/fonts/Nanu.ttf);
}
@font-face {
    font-family: "Deli";
    src: url(./assets/fonts/Deli.ttf);
}

*{
    font-family:  Deli, monospace, sans-serif;
}
